
<h3><%= @book.name %></h3>

<p>Author: <%= @book.author %> | Release Date: <%= release_date @book %> | Page Count: <%= @book.page_count %></p>

<p>Synopsis:</p>
<p><%= @book.synopsis %></p>

<p>Genres:</p>
<% if @genres.empty? %>
    <ul>
    <% @genres.each do |genre| %>
        <li><%= genre.name %></li>
    <% end %>
    </ul>
<% else %>
    <p>No Genres... Yet.</p>
<% end %>

<%= link_to 'Edit Book', edit_book_path(@book) if creator? @book %> <%= link_to 'Delete Book', book_path(@book), {method: 'delete'} if creator? @book %>

<h4> Reviews </h4>
<% if @reviews.empty? %>
    <p> No Reviews For This Book.</p>
<% else %>
    <% @reviews.each do |rev| %>
        <%= render partial: "reviews/review", locals: {review: rev} %>
    <% end%>
<p> ---------------------------- </p>
<% end%>

<h6>Add Review: </h6>
<%= render partial: "reviews/form", locals: {review: @review } %>
