<h3><%= @book.name %></h3>

<p>Author: <%= @book.author %> | Release Date: <%= release_date @book %> | Page Count: <%= @book.page_count %></p>

<p>Synopsis:</p>
<p><%= @book.synopsis %></p>

<p>Genres:</p>
<% if !@book.genres.empty? %>
    <ul>
    <% @book.genres.each do |genre| %>
        <li><%= genre.name %></li>
    <% end %>
    </ul>
<% else %>
    <p>No Genres... Yet. <%= link_to "Add Genre", new_book_genre_path(@book) %></p>
<% end %>

<%= link_to "Edit Book", edit_book_path(@book) %> <%= link_to "Delete Book", book_path(@book), {method: "delete"} %>