<p> ---------------------------- </p>
<% if params[:user_id] %>
    <h4><%= review.book.name %></h4>
<% end%>

<p> Score: <%= review.score %> </p>

<p> Review: <%= review.content %> </p>

<p> Author: <%= review.user.username %>

<%= link_to "Edit Review", edit_book_review_path(review.book, review) unless review.user != current_user %>